<div class="google-map" data-bind="mapSetup"></div>

<map-sidenav params="map: map,
                     properties: properties,
                     visibleProperties: visibleProperties,
                     updatePropertiesHandler: updateProperties.bind($component),
                     onOpen: resetSelectedProperty.bind($component),
                     onClose: refreshMapAndAttachMarkers.bind($component),
                     onSelectProperty: selectProperty.bind($component)"></map-sidenav>

<property-modal params="map: map,
                        selectedProperty: selectedProperty"></property-modal>
