/* FONTS */
@import url( "https://fonts.googleapis.com/css?family=Roboto");

$primary-font: "Roboto", sans-serif;

/* COLORS */
$green-primary: #00a057;
$sidenav-bgcolor: #f9f9f9;

$sidenav-zindex: 10000;
