/* FONTS */
@import url( "https://fonts.googleapis.com/css?family=Roboto");
$logo-font: "Roboto", cursive;
$primary-font: "Roboto", sans-serif;

/* COLORS */
$backdrop: hsla(10, 59%, 52%, 1);

/* LAYOUT */
$font-title-small: 1.2em;
$font-title-medium: 1.5em;
$font-title-big: 1.7em;

/* STYLESHEETS */
@import "common";
@import "side_nav";
