<div class="modal" data-bind="welcomeModalSetup: isModalOpen">
  <div class="modal-content">
    <div class="title">
      <b>Welcome to Mity Map</b>
      <span class="tagline">Map crawler and property finder</em>
    </div>
    <div class="content">
      <p>Find real estate listings in Costa Rica for properties on sale by their owners located in condominium complexes or gated communities.</p>
      <p>You may initiate your searches by clicking on the green button at the top left corner.</p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Got it! Thanks</a>
  </div>
</div>
