<div class="modal" data-bind="propertyModalSetup: isModalOpen">
  <div class="modal-content" data-bind="with: property">
    <article>
      <h3 data-bind="text: title"></h3>

      <div data-bind="ifnot: $parent.isLoading, css: { twocol: photo }" class="content">
        <section>
          <figure data-bind="if: (!basic && photo)">
            <img data-bind="attr: { src: photo, title: title }" />
            <figcaption data-bind="text: address"></figcaption>
          </figure>
        </section>

        <section>
          <div class="details">
            <div data-bind="ifnot: isLot">
              <span><em data-bind="text: bedrooms"></em> Bedrooms</span>
              <span><em data-bind="text: bathrooms"></em> Bathrooms</span>
            </div>
            <span class="area"><em data-bind="text: area"></em> m<sup>2</sup></span>
            <div data-bind="ifnot: photo" class="address">
              <span data-bind="text: address"></span>
            </div>
          </div>

          <div data-bind="ifnot: basic,
                          css: { empty: (!rating && !phone_number && !website) }" class="api">
            <span data-bind="visible: rating" class="rating">Rating: <em data-bind="text: rating"></em></span>
            <span data-bind="visible: phone_number" class="phone">For information, call: <em data-bind="text: phone_number"></em></span>
            <div class="website" data-bind="if: website">
              <a data-bind="attr: { href: website }, text: website"></a>
            </div>
          </div>

          <div class="price">For sale: <span data-bind="text: salePrice"></span></div>
          <div class="weather">
            <img class="icon" data-bind="attr: { src: weather_icon, title: weather_description }" />
            <span><em data-bind="text: weather_temperature"></em>°C</span>
          </div>
        </section>

        <div class="actions">
          <button class="modal-action waves-effect waves-light btn"
                  data-bind="click: $parent.onActionBtnClick.bind($parent)">View in Map</button>
        </div>
      </div>

      <div data-bind="if: $parent.isLoading" class="modal-spinner">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </article>

  </div>
</div>
