<div class="modal" data-bind="propertyModalSetup: isModalOpen">
  <div class="modal-content" data-bind="with: property">
    <article>
      <h3 data-bind="text: title"></h3>

      <div data-bind="ifnot: $parent.isLoading" class="content">
        <section>
          <figure data-bind="ifnot: basic">
            <img data-bind="attr: { src: cover_image, title: title }" />
            <figcaption data-bind="text: address"></figcaption>
          </figure>
        </section>

        <section>
          <div class="details">
            <span class="address" data-bind: "if: basic, text: address"></span>
            <span><em data-bind="text: bedrooms"></em> Bedrooms</span>
            <span><em data-bind="text: bathrooms"></em> Bathrooms</span>
            <span><em data-bind="text: area"></em> m<sup>2</sup></span>
          </div>

          <div data-bind="ifnot: basic" class="api">
            <span class="rating">Rating: <em data-bind="text: overall_rating"></em></span>
            <span class="phone">For more information call: <em data-bind="text: phone"></em></span>
          </div>

          <div class="price">For sale: <span data-bind="text: salePrice"></span></div>
        </section>

        <div class="actions">
          <button class="modal-action waves-effect waves-light btn"
                  data-bind="click: $parent.onActionBtnClick.bind($parent)">View in Map</button>
        </div>
      </div>

      <div data-bind="if: $parent.isLoading" class="preloader-wrapper active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </article>

  </div>
</div>
