<a href="#"
   class="sidenav-toggle"
   data-bind="sideNavSetup: isSideNavOpen, click: openSideNav"
   data-activates="side-nav">
  <div class="arrow points-right"></div>
</a>
<div id="side-nav" class="side-nav" data-bind="switchPanel: isShowingFilters">

  <filters-panel params="clickHandler: closeSideNav.bind($component),
                         updatePropertiesHandler: updatePropertiesHandler,
                         doneHandler: switchToProperties.bind($component),
                         properties: properties,
                         visibleProperties: visibleProperties"></filters-panel>

  <properties-panel params="onClose: closeSideNav.bind($component),
                            doneHandler: switchToFilters.bind($component),
                            visibleProperties: visibleProperties,
                            onSelectProperty: onSelectProperty"></properties-panel>
</div>
