filters-panel {
  > .container {
    width: $sidenav-panel-width-sm;
    position: absolute;

    @media only screen and (min-width: 600px) {
      width: $sidenav-panel-width-md;
    }

    > .sidenav-toggle {
      right: 0;
      left: auto;
      z-index: $sidenav-zindex + 1;
      padding: 0;

      .arrow.points-left {
        border-left: 0 none;
        left: 10px;
      }
    }

    > .content {
      height: 100vh;
      width: $sidenav-panel-width-sm - $sidenav-toggle-width;
      background-color: $sidenav-bgcolor;
      padding: 15px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);

      @media only screen and (min-width: 600px) {
        width: $sidenav-panel-width-md - $sidenav-toggle-width;
        padding: 20px;
      }

      > .property-type {

        .select-dropdown {
          margin-bottom: 15px;

          @media only screen and (min-width: 600px) {
            margin-bottom: 20px;
          }
        }
      }

      > .filters {
        > strong {
          display: block;
          margin-top: 15px;
          text-transform: uppercase;

          @media only screen and (min-width: 600px) {
            margin-top: 20px;
          }
        }
      }

      button.view-properties {
        display: block;
        margin: 20px auto 0;
      }
    }
  }
}
