filters-panel {

  > .sidenav-toggle {
    right: 0;
    left: auto;

    .arrow.points-left {
      border-left: 0 none;
      left: 10px;
    }
  }

  > .content {
    height: 100vh;
    background-color: $sidenav-bgcolor;
    padding: 20px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
  }
}
