filters-panel {
  > .container {
    width: $sidenav-panel-width-sm;
    position: absolute;

    @media only screen and (min-width: 600px) {
      width: $sidenav-panel-width-md;
    }

    > .sidenav-toggle {
      right: 0;
      left: auto;
      z-index: $sidenav-zindex + 1;
      padding: 0;

      .arrow.points-left {
        border-left: 0 none;
        left: 10px;
      }
    }

    > .content {
      height: 100vh;
      width: $sidenav-panel-width-sm - $sidenav-toggle-width;
      background-color: $sidenav-bgcolor;
      padding: 15px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);

      @media only screen and (min-width: 600px) {
        width: $sidenav-panel-width-md - $sidenav-toggle-width;
        padding: 20px;
      }

      > .filter-tip {
        position: relative;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
        padding: 20px 15px 15px;
        font-size: 0.9rem;
        margin-bottom: 2.5rem;

        p {
          margin: 0;
          line-height: 1.5;

          b {
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        button {
          margin-top: 10px;
        }

        &.remove {
          transition: transform 0.3s;
          transform: translateX(-$sidenav-panel-width-md);
        }
      }

      > .property-type {

        .select-dropdown {
          margin-bottom: 15px;

          @media only screen and (min-width: 600px) {
            margin-bottom: 20px;
          }
        }
      }

      > .filters {
        > strong {
          display: block;
          margin-top: 15px;
          text-transform: uppercase;

          @media only screen and (min-width: 600px) {
            margin-top: 20px;
          }
        }
      }

      button.view-properties {
        display: block;
        margin: 20px auto 0;
      }
    }
  }
}
