<a href="#" class="sidenav-toggle" data-bind="click: clickHandler">
  <div class="arrow points-left"></div>
</a>
<div class='content'>

  <div class='input-field property-type'>
    <select data-bind="value: propTypeSelected, foreach: propertyTypes, selectSetup">
      <option data-bind="attr: { disabled: !enable, value: value }, text: label"></option>
    </select>
    <label>What are you looking for?</label>
  </div>

  <div class='input-field property-location' data-bind="visible: propTypeSelected() !== '0'">
    <label>Where should the properties be located?</label>
    <div>
     <input type="checkbox" id="place-checkbox" data-bind="checked: isLocationAnywhere" />
     <label for="place-checkbox">Anywhere in the country</label>
    </div>
    <button class="waves-effect waves-light btn"
            data-bind="enable: !isLocationAnywhere()">Select area on the map</button>
  </div>

  <div class="filters" data-bind="visible: propTypeSelected() !== '0'">
    <range-filter params="filter: 'squareMeterSalePrice',
                          bounds: priceBounds,
                          minValue: minPrice,
                          maxValue: maxPrice,
                          label: 'price per square meter'"></range-filter>

    <button class="waves-effect waves-light btn"
            data-bind="enable: visibleProperties().length">
      See <span data-bind="text: visibleProperties().length"></span> properties
    </button>
  </div>

</div>
