<div class='container'>
  <a href="#" class="sidenav-toggle" data-bind="click: clickHandler">
    <div class="arrow points-left"></div>
  </a>
  <div class='content'>

    <div class='input-field property-type'>
      <select data-bind="value: propTypeSelected, foreach: propertyTypes, selectSetup">
        <option data-bind="attr: { disabled: !enable, value: value }, text: label"></option>
      </select>
      <label>What are you looking for?</label>
    </div>

    <location-filter data-bind="visible: propTypeSelected() !== '0'"
                     params="map: map,
                             properties: properties,
                             propFilters: propFilters,
                             propTypeSelected: propTypeSelected,
                             visibleProperties: visibleProperties,
                             updatePropertiesHandler: updatePropertiesHandler"></location-filter>

    <div class="filters" data-bind="visible: propTypeSelected() !== '0'">
      <div class='divider'></div>
      <strong>Filters</strong>
      <range-filter params="filter: 'squareMeterSalePrice',
                            bounds: priceBounds,
                            minValue: minPrice,
                            maxValue: maxPrice,
                            label: 'Price per square meter',
                            unit: '$/m'"></range-filter>

      <range-filter params="filter: 'area',
                            bounds: areaBounds,
                            minValue: minArea,
                            maxValue: maxArea,
                            label: 'Area in square meters',
                            unit: 'm'"></range-filter>

      <button class="waves-effect waves-light btn view-properties"
              data-bind="enable: visibleProperties().length,
                         click: doneHandler">
        Compare <span data-bind="text: visibleProperties().length"></span> properties
      </button>
    </div>

  </div>
</div>
