location-filter {
  > .property-location {
    margin-top: 0;
    margin-bottom: 30px;

    > label {
      position: relative;
      font-size: .8rem;
      top: 0;
    }

    > div {
      margin-bottom: 5px;

      label {
        color: #222;
      }
    }
  }
}
