location-filter {
  > .property-location {
    margin-top: 0;
    margin-bottom: 25px;

    > label {
      position: relative;
      font-size: .8rem;
      top: 0;
    }

    > div {
      margin-bottom: 5px;

      [type=radio]:checked+label, [type=radio]:not(:checked)+label {
        height: 20px;
        color: #222;
      }
    }
  }
}
