<div class='input-field property-location'>
  <label>Where should the properties be located?</label>
  <div>
   <input type="radio"
          class="with-gap"
          id="radio-anywhere"
          value="anywhere"
          data-bind="checked: searchArea" />
   <label for="radio-anywhere">All Provinces</label>
  </div>
  <div>
   <input type="radio"
          class="with-gap"
          id="radio-gam"
          value="gam"
          data-bind="checked: searchArea" />
   <label for="radio-gam">Central Valley</label>
  </div>
</div>
