properties-panel {
  > .container {
    width: $sidenav-panel-width;
    position: absolute;

    > .sidenav-toggle {
      right: 0;
      left: auto;
      z-index: $sidenav-zindex + 1;
      padding: 0;

      .arrow.points-left {
        border-left: 0 none;
        left: 10px;
      }
    }

    > .content {
      height: 100vh;
      width: $sidenav-panel-width - $sidenav-toggle-width;
      background-color: $sidenav-bgcolor;
      padding: 20px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
      overflow: scroll;

      .properties table {
        font-size: .8rem;
        margin-top: 12px;

        thead {
          border-bottom: 0 none;

          th {
            padding: 15px 10px;
            color: $green-primary;
          }
        }

        tbody {
          tr:nth-child(odd) { background-color: #fdfdfd; }
          tr:nth-child(even) { background-color: rgba(51, 193, 128, 0.12); }
          td {
            padding: 15px 10px;
            border-radius: 0;
            color: #585858;
          }
        }
      }
    }
  }
}
