<div class='container hidden'>
  <a href="#" class="sidenav-toggle" data-bind="click: clickHandler">
    <div class="arrow points-left"></div>
  </a>
  <div class='content'>
    <button class="waves-effect waves-light btn view-properties"
            data-bind="click: doneHandler">Back to filters</button>
    <div class="properties">
      <table>
        <thead>
          <tr>
            <th data-bind="click: function() { sortBy('project') }">Residential Area/Housing Complex</th>
            <th data-bind="click: function() { sortBy('area') }">m<sup>2</sup></th>
            <th data-bind="click: function() { sortBy('squareMeterSalePrice') }">$/m<sup>2</sup></th>
          </tr>
        </thead>
        <tbody data-bind="foreach: sortedProperties">
          <tr>
            <td data-bind="text: project"></td>
            <td data-bind="text: area"></td>
            <td data-bind="text: squareMeterSalePrice"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
